

  /* Style the label to display next to the inputs */
 h1{
 
    display: inline-block;
    width: 100%;
    font-style: it;
    font: outline;
    font-size: 1.7em;
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(180deg, rgb(212, 212, 212), rgb(252, 252, 252));
    margin: 0px;
  color: rgb(49, 49, 49);

  border-radius:5px;
  }
  h2{
  
   
    display: inline-block;
    font-style: bold;
    font: outline;
    font-size: 1.6em;
    box-shadow: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  h2:hover{
    box-shadow: 0 0 2px 3px rgb(46, 46, 46);

  }

  iframe{
    margin: 11px;
    width: 95%;
    height: 560px; 
    border: 10px solid rgb(255, 255, 255);
    box-shadow: 20px;
    box-sizing: border-box;
    resize: vertical;
    border-radius:5px;
   
    border-radius:6px;
  }

ul{

  border-radius: 5px;
  margin: 20px;
  color: black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

li{
  color:black;
}


nav ul{height:400px; width:100%;
}
nav ul{overflow:hidden; overflow-y:scroll;}




li:hover{
  background-image: linear-gradient(180deg, rgba(179, 179, 179, 0.932), rgb(255, 255, 255));
  border: 2px solid rgb(80, 80, 80);
  border-radius:2px;

  
  font-size: 18px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
box-shadow: -2px 3px #c2c2c2;
text-align: center;


}

  .grid-child.of {
   height: 96%;
   margin:10px;
   font-style: bold;
   
    border-radius:8px;
    border: 0px solid rgb(58, 58, 58);
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.815), rgb(255, 255, 255));
    box-shadow: 0px 8px #a0a0a0;
    font: size 12px;
    font-family:'Courier New', Courier, monospace;
    
  }
  h4{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: bold;
  }

  .grid-child.of:hover {
    box-shadow: 0 0 7px 5px rgba(21, 150, 255, 0.726);

  }

  iframe:hover {
    box-shadow: 0 0 6px 5px rgba(42, 188, 255, 0.842);
  }
  div.scrollmenu {
    background-color: rgb(255, 255, 255);
    white-space: nowrap;
    overflow-y: auto;
    width: auto;
    border-radius: 8px;
  
  }

  img {
    border: 3px solid rgb(97, 97, 97); /* Gray border */
    border-radius: 5px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 180px;
    height: 130px; /* Set a small width */
   margin: 5px
  }
  h1:hover{
    padding: 10px 20px;  
    overflow:hidden;
    font-size: 2.5em;
  
  }
  @keyframes bounce {
    0%, 20%, 60%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  
    80% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }
  a{
    font-size: 16px;
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    color: rgb(43, 43, 43);
    border-radius: 2px
  
  

  }
  a:hover{
    box-shadow: 0 0 2px 2px rgba(0, 166, 243, 0.5);
 
  }
  /* Add a hover effect (blue shadow) */
  img:hover {
    box-shadow: 0 0 2px 3px rgb(0, 174, 255);
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: rgb(21, 169, 255);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    
    
  }
  .statusmenu{
    overflow-y: auto;

  }
  
  div.scrollmenu a:hover {
    background-color: rgb(190, 190, 190);
    
  
  }
  
body{
  background-image: linear-gradient(180deg, rgb(245, 245, 245), rgb(218, 218, 218));

}
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    iframe {
      width: 100%;
      margin-top: 0;
  
    }
  .grid-child.of{
    visibility: hidden;
    width:0%;
  }
  }

  

.grid-container {
  background-image: linear-gradient(180deg, rgb(228, 228, 228), rgb(173, 173, 173));
  box-shadow: 20px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 0px;
}
